@font-face {
  font-family: "semi bold";
  src: url("../../Assets/Fonts/JosefinSans-SemiBold.ttf");
}
.forgotPassword-outer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  overflow: auto;
  border: 2px black;
}
.forgotPassword-outer-container .left-container {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #af0000;
}
.forgotPassword-outer-container .left-container .left-inner {
  grid-column: 3/span 2;
  grid-row: 2/span 4;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 25px #03045E;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.forgotPassword-outer-container .left-container .left-inner .logo-container {
  grid-column: 1/span 2;
  grid-row: 2/span 2;
  background-image: url("./../../Assets/Images/fa-logo-beige.png");
  background-size: 210px;
  background-repeat: no-repeat;
  background-position: center;
}
.forgotPassword-outer-container .right-container {
  grid-column: 3/span 3;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgba(250, 185, 154, 0.4);
  opacity: 100%;
}
.forgotPassword-outer-container .right-container .right-inner {
  grid-column: 1/span 3;
  grid-row: 2/span 4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 25px #03045E;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.forgotPassword-outer-container .right-container .right-inner form {
  grid-column: 1/span 2;
  grid-row: 2/span 6;
}
.forgotPassword-outer-container .right-container .right-inner form h1, .forgotPassword-outer-container .right-container .right-inner form h4, .forgotPassword-outer-container .right-container .right-inner form p {
  color: #af0000;
}
.forgotPassword-outer-container .right-container .right-inner form h1 {
  text-align: center;
}
.forgotPassword-outer-container .right-container .right-inner form p {
  color: #af0000;
  margin-top: 8px;
  margin-bottom: 20px;
}
.forgotPassword-outer-container .right-container .right-inner form .username-container {
  padding: 20px;
}
.forgotPassword-outer-container .right-container .right-inner form .username-container label {
  color: #af0000;
  font-family: "semi bold";
  font-size: large;
}
.forgotPassword-outer-container .right-container .right-inner form .username-container input {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  background-color: rgba(250, 185, 154, 0.4);
  border: 2px solid #af0000;
  font-family: "semi bold";
  outline: none;
  font-size: large;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .questionContainer {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  padding-left: 15px;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .questionContainer label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #af0000;
  font-family: "semi bold";
  font-size: medium;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .questionContainer input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 25px;
  width: 570px;
  border: none;
  border: 2px solid #af0000;
  color: rgba(250, 185, 154, 0.4);
  font-family: "semi bold";
  font-size: medium;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .questionContainer div {
  color: #af0000;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .answerContainer {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  padding-left: 25px;
  /*label{
      display: inline-block;
      font-size: 0.8rem;
      margin-bottom: 6px;
      color: $primary-red;
      font-family: 'semi bold';
  }*/
}
.forgotPassword-outer-container .right-container .right-inner form .fp-questionAnswerContainer .answerContainer input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 25px;
  width: 570px;
  border: none;
  background-color: rgba(250, 185, 154, 0.4);
  border: 2px solid #af0000;
  font-family: "semi bold";
  color: #03045E;
  font-size: medium;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-password-container2, .forgotPassword-outer-container .right-container .right-inner form .fp-password-container {
  padding-left: 20px;
  padding-top: 10px;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-password-container2 label, .forgotPassword-outer-container .right-container .right-inner form .fp-password-container label {
  color: #af0000;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-password-container2 input, .forgotPassword-outer-container .right-container .right-inner form .fp-password-container input {
  height: 25px;
  width: 250px;
  border-radius: 5px;
  background-color: rgba(250, 185, 154, 0.4);
  border: 2px solid #af0000;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-password-container input {
  margin-left: 25px;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-button-container {
  margin: 15px;
  text-align: center;
}
.forgotPassword-outer-container .right-container .right-inner form .fp-button-container button {
  background-color: #af0000;
  color: #a8bdc3;
  height: 30px;
  width: 350px;
  border-radius: 5px;
  border-color: #af0000;
  font-family: "semi bold";
  font-size: medium;
  cursor: pointer;
}/*# sourceMappingURL=ForgotPassword.css.map */