@font-face {
  font-family: "semi bold";
  src: url("../../Assets/Fonts/JosefinSans-SemiBold.ttf");
}
.login-outer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  overflow: auto;
  border: 2px rgb(255, 255, 255);
}
.login-outer-container .left-container {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgb(0, 0, 0);
}
.login-outer-container .left-container .left-inner {
  grid-column: 3/span 2;
  grid-row: 2/span 4;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 0 25px rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.login-outer-container .left-container .left-inner .logo-container {
  grid-column: 1/span 2;
  grid-row: 2/span 2;
  background-image: url("./../../Assets/Images/bookmyshow-logo-vector.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
}
.login-outer-container .right-container {
  grid-column: 3/span 3;
  grid-row: 1/span 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgba(250, 185, 154, 0.4);
  opacity: 100%;
}
.login-outer-container .right-container .right-inner {
  grid-column: 1/span 3;
  grid-row: 2/span 4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 0 25px #af0000;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.login-outer-container .right-container .right-inner form {
  grid-column: 1/span 2;
  grid-row: 2/span 4;
}
.login-outer-container .right-container .right-inner form h1, .login-outer-container .right-container .right-inner form h4, .login-outer-container .right-container .right-inner form p {
  color: #af0000;
}
.login-outer-container .right-container .right-inner form a {
  color: #af0000;
  text-decoration: none;
}
.login-outer-container .right-container .right-inner form .username-container, .login-outer-container .right-container .right-inner form .password-container {
  padding: 20px;
}
.login-outer-container .right-container .right-inner form .username-container label, .login-outer-container .right-container .right-inner form .password-container label {
  color: #af0000;
  padding-right: 20px;
  font-family: "semi bold";
  font-size: large;
}
.login-outer-container .right-container .right-inner form .username-container input, .login-outer-container .right-container .right-inner form .password-container input {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  background-color: rgba(250, 185, 154, 0.4);
  border: 2px solid #af0000;
  font-family: "semi bold";
  font-size: large;
  color: #03045E;
  outline: none;
}
.login-outer-container .right-container .right-inner form .button-container {
  margin: 5px;
}
.login-outer-container .right-container .right-inner form .button-container button {
  background-color: #af0000;
  color: #a8bdc3;
  height: 30px;
  width: 350px;
  border-radius: 5px;
  border-color: #af0000;
  cursor: pointer;
  font-family: "semi bold";
  font-size: large;
}/*# sourceMappingURL=Login.css.map */