@font-face {
  font-family: "semi bold";
  src: url("../../Assets/Fonts/JosefinSans-SemiBold.ttf");
}
.styleH1, .mainContainer .innerContainer .imageContainer .header h2, .mainContainer .innerContainer .detailsContainer .header h2 {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 2px;
  color: #03045E;
}

.styleHr, .mainContainer .innerContainer .imageContainer .header hr, .mainContainer .innerContainer .detailsContainer .header hr {
  border-top: 1px solid grey;
  margin-right: 20px;
  margin-left: 20px;
}

.Mini-loader {
  padding-top: 15px;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  height: 120vh;
  background-color: rgba(250, 185, 154, 0.4);
}
.mainContainer .header {
  grid-column: 2/span 12;
  grid-row: 1;
}
.mainContainer .innerContainer {
  grid-column: 2/span 12;
  grid-row: 2/span 12;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 0 25px #03045E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.mainContainer .innerContainer .detailsContainer {
  grid-column: 1/span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
}
.mainContainer .innerContainer .detailsContainer p {
  color: #af0000;
}
.mainContainer .innerContainer .detailsContainer .header {
  grid-column: 1/span 2;
  grid-row: 1;
}
.mainContainer .innerContainer .detailsContainer .userName_email_Container {
  grid-column: 1/span 2;
  grid-row: 2;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mainContainer .innerContainer .detailsContainer .userName_email_Container .userName_Container, .mainContainer .innerContainer .detailsContainer .userName_email_Container .email_Container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
}
.mainContainer .innerContainer .detailsContainer .userName_email_Container .userName_Container input, .mainContainer .innerContainer .detailsContainer .userName_email_Container .email_Container input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  border: 2px solid #af0000;
  background-color: rgba(250, 185, 154, 0.01);
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .detailsContainer .userName_email_Container .email_Container {
  grid-column: 2;
}
.mainContainer .innerContainer .detailsContainer .frst_lst_names_container {
  grid-column: 1/span 2;
  grid-row: 3;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mainContainer .innerContainer .detailsContainer .frst_lst_names_container .frst_name_container, .mainContainer .innerContainer .detailsContainer .frst_lst_names_container .lst_name_container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
}
.mainContainer .innerContainer .detailsContainer .frst_lst_names_container .frst_name_container input, .mainContainer .innerContainer .detailsContainer .frst_lst_names_container .lst_name_container input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  border: 2px solid #af0000;
  background-color: rgba(250, 185, 154, 0.01);
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .detailsContainer .frst_lst_names_container .lst_name_container {
  grid-column: 2;
}
.mainContainer .innerContainer .detailsContainer .phone_country_Container {
  grid-column: 1/span 2;
  grid-row: 4;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mainContainer .innerContainer .detailsContainer .phone_country_Container .phone_Container, .mainContainer .innerContainer .detailsContainer .phone_country_Container .country_Container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
}
.mainContainer .innerContainer .detailsContainer .phone_country_Container .phone_Container input, .mainContainer .innerContainer .detailsContainer .phone_country_Container .country_Container input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  border: 2px solid #af0000;
  background-color: rgba(250, 185, 154, 0.01);
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .detailsContainer .phone_country_Container .country_Container {
  grid-column: 2;
}
.mainContainer .innerContainer .detailsContainer .phone_country_Container .country_Container div {
  width: 102%;
  color: #af0000;
}
.mainContainer .innerContainer .detailsContainer .dob_gender_container {
  grid-column: 1/span 2;
  grid-row: 5;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mainContainer .innerContainer .detailsContainer .dob_gender_container .dob_container, .mainContainer .innerContainer .detailsContainer .dob_gender_container .gender_container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
}
.mainContainer .innerContainer .detailsContainer .dob_gender_container .dob_container input, .mainContainer .innerContainer .detailsContainer .dob_gender_container .gender_container input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  border: 2px solid #af0000;
  background-color: rgba(250, 185, 154, 0.01);
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .detailsContainer .dob_gender_container .gender_container {
  grid-column: 2;
}
.mainContainer .innerContainer .detailsContainer .dob_gender_container .gender_container div {
  width: 102%;
  color: #af0000;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container {
  grid-column: 1/span 2;
  grid-row: 6;
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .height_container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .height_container .ft-container, .mainContainer .innerContainer .detailsContainer .height_weight_container .height_container .in-container {
  grid-column: 1;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: left;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .height_container .ft-container div, .mainContainer .innerContainer .detailsContainer .height_weight_container .height_container .in-container div {
  width: 105%;
  color: #af0000;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .height_container .in-container {
  grid-column: 2;
  color: #af0000;
  justify-self: right;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .weight_container {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0.5rem;
  width: 80%;
  justify-self: center;
}
.mainContainer .innerContainer .detailsContainer .height_weight_container .weight_container input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 45px;
  width: 100%;
  border: 2px solid #af0000;
  background-color: rgba(250, 185, 154, 0.01);
  font-family: "semi bold";
  font-size: medium;
  color: #03045E;
}
.mainContainer .innerContainer .detailsContainer .bio-container {
  grid-column: 1/span 2;
  grid-row: 7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.mainContainer .innerContainer .detailsContainer .bio-container .textArea-Container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.mainContainer .innerContainer .detailsContainer .bio-container .textArea-Container textarea {
  width: 90%;
  margin-left: 10px;
  background-color: rgba(250, 185, 154, 0.4);
  font-family: "semi bold";
  font-size: medium;
  padding: 15px;
}
.mainContainer .innerContainer .detailsContainer .footer-container {
  grid-column: 1/span 2;
  grid-row: 8;
}
.mainContainer .innerContainer .detailsContainer .footer-container .button-container {
  text-align: left;
  margin-left: 55px;
}
.mainContainer .innerContainer .detailsContainer .footer-container .button-container button {
  background-color: #af0000;
  color: #a8bdc3;
  height: 30px;
  width: 125px;
  border-radius: 5px;
  margin-right: 5px;
  height: 50px;
  cursor: pointer;
  border-color: #af0000;
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .imageContainer {
  grid-column: 3/span 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 100vh;
}
.mainContainer .innerContainer .imageContainer .header {
  grid-column: 1/span 8;
  grid-row: 1/span 2;
}
.mainContainer .innerContainer .imageContainer .image-container {
  grid-column: 2/span 6;
  grid-row: 3/span 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.mainContainer .innerContainer .imageContainer .image-container .image-holder {
  grid-column: 1/span 2;
  grid-row: 1/span 8;
  border-radius: 20px;
  box-shadow: 0 0 25px #03045E;
}
.mainContainer .innerContainer .imageContainer .image-container .image-holder img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainContainer .innerContainer .imageContainer .image-container .input-holder {
  grid-column: 1/span 2;
  grid-row: 10/span 2;
}
.mainContainer .innerContainer .imageContainer .image-container .input-holder input {
  display: none;
}
.mainContainer .innerContainer .imageContainer .image-container .input-holder button {
  background-color: #af0000;
  color: #a8bdc3;
  height: 30px;
  width: 125px;
  border-radius: 5px;
  margin-right: 5px;
  height: 50px;
  cursor: pointer;
  border-color: #af0000;
  font-family: "semi bold";
  font-size: medium;
}
.mainContainer .innerContainer .imageContainer .empty-space {
  grid-column: 1/span 2;
  grid-row: 10/span 5;
}
.mainContainer .innerContainer .imageContainer .line {
  grid-column: 1/span 8;
  grid-row: 15;
}/*# sourceMappingURL=UserProfile.css.map */