$primary-brown: #03045E;
$primary-beige: #a8bdc3;
$primary-red : #af0000;
$primary-pink : #eb346b;
$primary-brown-opacity: rgba(232, 104, 0, 0.665);
$primary-beige-opacity: rgba(225, 175, 243, 0.4);
$primary-pink: rgba(253, 186, 154, 65%);
$white: #ffff;
$primary-beige-light: #F2DED5;
$primary-brown-2: #b3c5d4;
$primary-red-shadow : rgba(0, 123, 216, 0.5);
$text-red: #1e5a97;
$primary-black: rgb(0, 0, 0)