$primary-brown: #8124de;
$primary-beige: #000000;
$primary-red : #6e6a6a;
$primary-pink : #3c0616;
$primary-brown-opacity: rgba(232, 104, 0, 0.665);
$primary-beige-opacity: rgba(225, 175, 243, 0.4);
$primary-pink: rgba(246, 239, 244, 0.65);
$white: #ffff;
$primary-beige-light: #f5eff8;
$primary-brown-2: #b3c5d4;
$primary-red-shadow : rgba(0, 123, 216, 0.5);
$text-red: #1e5a97;
$primary-black: rgb(15, 14, 14)